<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zj.tools.zjutils">
    <!-- APKUtils (调起安装的时候需要) -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ZJRichTextUtilsDemoActivity"></activity>
        <activity android:name=".ZJConvertUtilsActivity" />
        <activity android:name=".ZJApkUtilsDemoActivity" />
        <activity android:name=".ZJNotificationUtilsDemoActivity" />
        <activity android:name=".ZJToastActivity" />
        <activity android:name=".ZJLogDemoActivity" />
        <activity android:name=".ZJHiddenApiUtilsDemoActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- APKUtils (高版本调起安装时需要) -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.zj.tools.mylibrary.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/pg_file_path"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>